__pycache__/
.env
.env.*
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
alembic/
__init__.py
.idea/
*.log
*.egg-info/
dist/
build/
.DS_Store
*.egg
*.bak
*.swp
*.swo
*.orig
*.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.cache/
*.pid
*.tgz
*.tar.gz
*.zip
*.tar
*.gz
*.whl
*.egg
*.tox/
*.env
*.venv
.venv/
venv/
