fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]>=1.7.4
bcrypt==4.2.1
pydantic[email]
python-dotenv
pytest
httpx
python-multipart
pydantic-settings
pydantic[email]
python-dotenv
pytest
httpx
python-multipart
pydantic-settings
